<div class="doc browser-background">
  <div class="container full-height">
    <div class="row full-height">
      <div class="span6 offset3 relative full-height">
        <div id="browser" class="dark-surface">
        	<div class="header">Room browser</div>
          <div class="content no-padding">
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Stakes</th>
                  <th>Players</th>
                  <th>Spectators</th>
                  <th class="mini"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Superroom</td>
                  <td>5/10</td>
                  <td>8/8</td>
                  <td>150</td>
                  <td>&raquo;</td>
                </tr>
                <tr>
                  <td>Superroom</td>
                  <td>5/10</td>
                  <td>8/8</td>
                  <td>150</td>
                  <td>&raquo;</td>
                </tr>
                <tr>
                  <td>Superroom</td>
                  <td>5/10</td>
                  <td>8/8</td>
                  <td>150</td>
                  <td>&raquo;</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>