<div class="doc login-background">
  <div class="container">
    <div class="row">
      <div class="span4 offset2">
        <div class="login-wrapper">
          <div class="logo">
            <h1>FOOPOKER</h1>
            <h2>Make money. Get rich. Live the life</div>
            <hr />
            <div class="push-down">
              <button class="btn btn-primary btn-large btn-shadow btn-wide" ng-click="login()">Login</button>
              <span class="spacer">or</span>
              <button class="btn btn-warning btn-large btn-shadow btn-wide">Register now</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>