<div class="doc browser-background">
  <div class="container full-height">
    <div class="row full-height">
      <div class="span12 relative full-height">
        <div class="poker-table">
            <div class="table-cards">
                <div class="card c{{ card.id }} flip" ng-repeat="card in cards">
                    <div class="face"></div>
                    <!-- <div class="back"></div> -->
                </div>
            </div>
            <div class="seats">
                <seat seat-id="0"></seat>
                <seat seat-id="1"></seat>
                <seat seat-id="2"></seat>
                <seat seat-id="3"></seat>
                <seat seat-id="4"></seat>
                <seat seat-id="5"></seat>
                <seat seat-id="6"></seat>
                <seat seat-id="7"></seat>
            </div>
            <div class="pots">
                <pot pot-id="0"></pot>
                <pot pot-id="1"></pot>
                <pot pot-id="2"></pot>
                <pot pot-id="3"></pot>
                <pot pot-id="4"></pot>
                <pot pot-id="5"></pot>
                <pot pot-id="6"></pot>
                <pot pot-id="7"></pot>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>