<div class="doc browser-background">
  <div class="container full-height">
    <div class="row full-height">
      <div class="span12 relative full-height">
        <div class="poker-table">
            <div class="seat seat-1">
                <div class="avatar" style="background-image: url(https://en.gravatar.com/avatar/38255e36b16377ee52dec1ba04fa4e2f?s=50&r=x);"></div>
                <div class="cards"><div class="card reverse small"></div><div class="card reverse" small></div></div>
                <div class="progress progress-striped progress-success active">
                    <div class="bar" style="width: 40%;"></div>
                </div>
                <div class="name">krille</div>
                <div class="stake">ALL IN</div>
            </div>
            <div class="seat seat-2">
                <div class="avatar" style="background-image: url(http://24.media.tumblr.com/avatar_333b5d201458_128.png);"></div>
                <div class="cards"><div class="card reverse small"></div><div class="card reverse" small></div></div>
                <div class="progress progress-striped progress-success">
                    <div class="bar" style="width: 0;"></div>
                </div>
                <div class="name">joel</div>
                <div class="stake">10000$</div>
            </div>
            <div class="seat seat-3">
                <div class="avatar" style="background-image: url(http://www.progarchives.com/forum/uploads/18319/Mr_Blonde_BandW_300.jpeg);"></div>
                <div class="cards"><div class="card reverse small"></div><div class="card reverse" small></div></div>
                <div class="progress progress-striped progress-success">
                    <div class="bar" style="width: 0;"></div>
                </div>
                <div class="name">jocke</div>
                <div class="stake">ALL IN</div>
            </div>

            <div class="seat seat-4">
                <div class="avatar" style="background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTT_bfM9eLrsPjq0ZOa0yErT9CAdJNXiRlLo7qeIt0QCh0fm4Lv);"></div>
                <div class="cards"><div class="card reverse small"></div><div class="card reverse" small></div></div>
                <div class="progress progress-striped progress-success">
                    <div class="bar" style="width: 0;"></div>
                </div>
                <div class="name">tom</div>
                <div class="stake">ALL IN</div>
            </div>
            <div class="seat seat-5">
                <div class="avatar" style="background-image: url(http://southparkstudios.mtvnimages.com/avatar/forum_expression/default/1108871.png);"></div>
                <div class="cards"><div class="card reverse small"></div><div class="card reverse" small></div></div>
                <div class="progress progress-striped progress-success">
                    <div class="bar" style="width: 0;"></div>
                </div>
                <div class="name">john</div>
                <div class="stake">25240$</div>
            </div>

            <div class="seat seat-6 folded">
                <div class="avatar" style="background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRj7EMwpVsCOC4DNGigOgc750eNX7OSvkqZJems-q-JNxu1SofA);"></div>
                <div class="cards"></div>
                <div class="progress progress-striped progress-success">
                    <div class="info">FOLDED</div>
                    <div class="bar" style="width: 0;"></div>
                </div>
                <div class="name">eminem</div>
                <div class="stake">30$</div>
            </div>
            <div class="seat seat-7">
                <div class="avatar" style="background-image: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTlf4O1QVbyDwyLI0JPOAkDZT97I9wKsdoTJAnSnSpAVUJNfTZvHQ);"></div>
                <div class="cards"><div class="card reverse small"></div><div class="card reverse" small></div></div>
                <div class="progress progress-striped progress-success">
                    <div class="bar" style="width: 0;"></div>
                </div>
                <div class="name">2pac</div>
                <div class="stake">270$</div>
            </div>
            <div class="seat seat-8 active">
                <div class="avatar" style="background-image: url(http://www.vulcanriders-sweden.org/nymurof/download/file.php?avatar=3.jpg);"></div>
                <div class="cards"><div class="card reverse small"></div><div class="card reverse" small></div></div>
                <div class="progress progress-striped progress-success">
                  <div class="bar" style="width: 0;"></div>
                </div>
                <div class="name">justinbieber</div>
                <div class="stake">1000$</div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>