<div class="seat seat-{{ seatId }} {{ extraClasses }}" ng-class="{folded: !!player.folded, active: !!bet}" ng-click="sitDown()">
    <div class="avatar" style="background-image: url({{ player.avatar }});" ng-show="!!player"></div>
    <div class="cards" ng-show="!!player">
        <div class="card c{{ c.id }}" ng-repeat="c in player.cards">
            <div class="face"></div>
            <div class="back"></div>
        </div>
    </div>
    <div class="table-space reverse" ng-show="!!player">
        <div class="stake">
            <div class="chips"></div>
        </div>
        <div class="button"></div>
    </div>
    <div class="progress progress-striped progress-success active">
        <div class="info center" ng-show="!!player.folded">FOLDED</div>
        <div class="info center" ng-show="!player">SIT DOWN</div>
        <div class="bar bet-timer" ng-show="!!bet && !!player.folded" style="width: 100%;"></div>
    </div>
    <div class="name" ng-show="!!player">{{ player.username }}</div>
    <div class="stake" ng-show="!!player">${{ player.stake }}</div>
</div>